{% extends 'base.html.twig' %}

{% block body %}
    <h1>Owners</h1>
    <table>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Owner Name</th>
            <th scope="col">Register time</th>
        </tr>
        </thead>
        <tbody>
        {% for owner in owners %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ owner.name }}</td>
                <td>{{ owner.updatedAt|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}